::-webkit-scrollbar { 
    display: none; 
}

body {
    background-color: black;
	margin: 0;
	padding: 0;
	line-height: 1.42857143;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.top {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: black;
}

.middle {
	margin-top: 80px;
	margin-bottom: 30px;
	overflow-y: scroll;
	height: 600px;
}

.middle-menu {
	text-align: center;
    margin-top: 50px;
	margin-bottom: 30px;
	overflow-y: scroll;
	height: 600px;
}

.bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: black;
}

.bottom-menu {
	position: fixed;
	bottom: 10px;
	width: 100%;
	background-color: black;
}

.brandname {
    width: 100%;
    display: inline-block;
    font-size: 30px;
    //background-color: #337ab7;
    background-color: red;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
	text-shadow: black 0.15em 0.15em 0.15em;
	margin-bottom: 10px;
}

.payment-details {
    width: 100%;
    display: inline-block;
    font-size: 25px;
    //background-color: #337ab7;
    background-color: red;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
	text-shadow: black 0.15em 0.15em 0.15em;
	margin-bottom: 10px;
}

.header {
    width: 100%;
    display: inline-block;
    font-size: 30px;
    background-color: red;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
	text-shadow: black 0.15em 0.15em 0.15em;
	//margin-top: 5px;
	margin-bottom: 10px;
}

.route {
	font-size: 30px;
	color: 'white'
}

.routeSplitter {
	margin: 0 20px 0 20px;
}

.hrSplitter {
	margin-bottom: 30px;
}

.inputarea {
	width: 98%;
	position: fixed;
    top: 50px;
}

.title {
	position: fixed;
    top: 0px;
	width: 100%;
	float: left;
	margin-bottom: 200px;
}

.loading {
    position: fixed;
    top: 120px;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    right: 30px;
    padding: 20px;
    opacity: 1;
    color: dodgerblue;
    text-align: right;
    background-color: transparent;
}

.loading-header {
    position: fixed;
    top: -20px;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    right: 30px;
    padding: 20px;
    opacity: 1;
    color: dodgerblue;
    text-align: right;
    background-color: transparent;
}

.socket {
    width: 90%;
    display: inline-block;
    font-size: 20px;
	background-color: blue;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
	text-shadow: black 0.15em 0.15em 0.15em;
	border-radius: 25px;
	padding: 10px 0px 10px 0px;
}

.phone {
    width: 100%;
    display: inline-block;
    font-size: 20px;
    background-color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
    text-align: left;
	text-shadow: black 0.15em 0.15em 0.15em;
	padding: 20px 0px 15px 20px;
}

.search {
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: black;
	width: 100%;
	height: 35px;
	padding-left: 5px;
	margin-top: -5px;
	border-top-width: inherit;
	border-left-width: inherit;
}

.listItem {
	border-width: thin;
	border-bottom-style: groove;
    border-color: white;
}

.showMessages {
	margin-top: 155px;
	width: 100%;
	position: fixed;
    top: 190px;
    bottom: 120px;
	overflow-y: auto;
	max-height: 60%;
}

.showButtons {
	margin-top: 155px;
	width: 100%;
	position: fixed;
    bottom: 20px;
	overflow-y: auto;
	max-height: 60%;
}

.login {
	border-style: groove;
    border-color: white;
	margin-top: 10px;
	margin: 10px 5px 0px;
	height: 115px;
}

.form {
	border-style: groove;
    border-color: white;
	margin-top: 10px;
	margin: 10px 5px 0px;
	padding-bottom: 10px;
}

.splitter {
	border-style: groove;
    border-color: white;
	margin-top: 10px;
	margin-bottom: -0px;
}

.input {
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: black;
    border-style: none;
	width: 98%;
	height: 35px;
	margin-top: 10px;
	padding-left: 5px;
}

.textarea {
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: black;
    border-style: none;
	width: 98%;
	height: 75px;
	margin-top: 10px;
	padding-left: 5px;
	font-family: Arial;
}

.span {
    font-size: 12px;
	margin-top: 7px;
}

.span1 {
    font-size: 12px;
}

button:hover {
    //background: #0b5090;
    background: red;
}

.button {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
	margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: bold;
    font-size: 17px;
    width: 46%;
	color: #fff;
    //background-color: #337ab7;
    background-color: red;
    border-color: #2e6da4;
	background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.readonly {
    font-weight: bold;
    font-size: 20px;
    color: black;
    border-style: none;
}

.dialog {
    font-weight: bold;
    font-size:24px;
    color: white;
}

.select {
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: white;
    border-style: none;
}

.items {
    color: white;
    background-color: black;
    font-size: 24px;
    font-weight: bold;
    border: black;
    cursor: pointer;
}

.items-menu {
    color: white;
    background-color: black;
    font-size: 24px;
    font-weight: bold;
    border: black;
    cursor: pointer;
	margin: 15px;
}

.logo {
    //width: 400px;
    //height: 120px;
	border-radius: 2%;	
	margin-bottom: 25px;
	margin-top: 20px;
}

.img {
    width: 100px;
    height: 100px;
}

.img-large {
    width:200px;
    height:210px;
}

.img-large-border {
    border-color: white;
    border-style: solid;
    border-width: thick;
    width: 210px;
}

.img-div {
    border-style: solid;
    border-width: thick;
    float: left;
}

.name {
    width: 50%;
    float: left;
    color: white;
    font-size: 20px;
    padding: 40px 0 0 15px;
}

.name-div {
    width: 50%;
    float: left;
    color: white;
    font-size: 20px;
    padding: 15px 0 15px 15px;
}

.valid {
    color: red;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 0px;
    left: 3px;
	width: 75%;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 10px;
    left: 3px;
	width: 75%;
}

.fix {
    top: -5px;
    margin: 10px;
}

.fix-hr {
    margin-top: -20px;
}

.per-page {
    font-size: 17px;
}

.per-page-input {
    border: none;
    width: 30px;
    font-size: 17px;
    background-color: #337ab7;
}

.loading1 {
    position: fixed;
    top: 20px;
    height: 100%;
    width: 100%;
    right: 30px;
    padding: 20px;
    opacity: 1;
    color: dodgerblue;
    text-align: right;
    background-color: transparent;
}

.message {
    position: fixed;
    top: 20px;
    height: 85px;
    width: 40%;
    right: 20px;
    padding: 20px;
    opacity: .9;
    color: dodgerblue;
    background-color: transparent;
}

.error1 {
    position: fixed;
    top: 20px;
    height: 85px;
    width: 40%;
    right: 20px;
    padding: 20px;
    opacity: .9;
    color: red;
    background-color: transparent;
}

.error-conf {
    margin-bottom:-8px
}

.conf {
    font-size:25px;
}

.blanker {
    margin-top: 1000px;
}